@charset "utf-8";
.swiper-container {
    position: relative;
    width: 100%;
    height: 100%;
    
    
    
  }
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    
    
    
    
  
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: block;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }
  .swiper-slide:nth-child(2n) {
    width: 60%;
  }

  .swiper-slide:nth-child(3n) {
    width: 40%;
  }
  
      
       
        
        
      
      
   
/*=================================
           mixin
=================================*/
$breakpoints:(
    
    sm:  "only screen and (max-width: 767px)",
    md:  "only screen and (min-width: 768px)",
    
);

@mixin media($breakpoint) {
    @media #{map-get($breakpoints,$breakpoint)} {
        @content;
    }
}
/*=================================
# common
=================================*/
$font-color: #3E3E3E;

@include media(sm){
    .is-pc{
        display: none;
    }
}

@include media(md){
    .is-sp{
        display: none;
    }
}

body{
    font-family: '游ゴシック体 ','Montserrat' Medium;
    line-height: 1.5;
    color: $font-color;
    font-size: 16px;
    background: #F3F3F3;
    
}

 .inner{
    max-width: 1200px; 
    padding: 0 40px;
    margin-left: auto;
    margin-right: auto;
    box-sizing: content-box;
 }
 .util-title{
     
     color: $font-color;
     font-weight: bold;
     text-align: center;
     @include media(md){
         font-size: 36px;
         margin-bottom: 55px;
     }
     @include media(sm){
         font-size: 30px;
         margin-bottom: 36px;
     }
 }
 .util-btn{
     color: #fff;
     background: #FFAA3B;
     width: 282px;
     height: 50px;
     box-shadow: rgba(62, 62, 62, 0.2);
     border-radius: 10px;
     font-size: 18px;
     outline: 0;
     @include media(sm){
        width: 222px;
        height: 48px;
        box-shadow: 0 3px 5px rgba(62, 62, 62, 0.2);
        border-radius: 10px;
        font-size: 16px;
     }
     
 }
 .btn{
     transition:  .9s;
     &:hover{
         background: #F18900;
         cursor: pointer;
         outline: 0;
     }
    
 }
 .section{
     @include media(md){
        margin-top: 120px;
     }
     @include media(sm){
         margin-top: 60px;
     }
 }

.open{
   
    width: 300px;
   
}
.drawer--right.drawer-open .drawer-hamburger {
    right: 0px;
}


 /*=================================
 # header
 =================================*/
 .header{
     position: fixed;
     top: 0;
     left: 0;
     right: 0;
     z-index: 1000;
     background: #FFFFFF1A;
     @include media(sm){
         height: 68px;
         padding: 0 16px;
         background: #FFFFFF;
     }
 }
 .header-inner{
     @include media(md){
       display: flex;  
     }
     height: 80px;
     align-items: center;
     
 }
 .header-title{
    @include media(sm){
        font-size: 23px;
     font-weight: bold;
     height: 28px;
     line-height: 28px;
     width: auto;
     margin: 20px 0 0 16px;
     
    }
     
     
     
 }
 .header-nav{
   margin: 0 auto;
   @include media(sm){
    
    padding: 160px 0 160px;
    
}
 }
 
 .header-nav-list{
     @include media(md){
        display: flex;
     }
    
    
    
    }
.header-nav-item{
    @include media(md){
        & + &{
            margin-left: 40px;
            
    } 
}
@include media(sm){
    text-align: center;
    
        & + &{
            margin-top: 27px;
        }
    
}
}
 
 .header-nav-item-link{
     position: relative;
     @include media(md){
        display: block;
        color: $font-color;
        height: 40px;
        line-height: 40px;
        letter-spacing: -0.025em;
       
        &::before{
            position: absolute;
            border-bottom: 1px solid #3E3E3E;
            content: '';
            display: block;
            top: 40px;
            right: 50%;
            width: 0;
            transition: .7s;
            
     }
    
     &:hover::before{
         width: 50%;
         
     }
    
        &::after{
            position: relative;
            border-bottom: 1px solid #3E3E3E;
            content: '';
            display: block;
            top: 0;
            left: 50%;
            width: 0;
            transition: .7s;
        }
     }
     @include media(sm){
        color: #3E3E3E;
        font-size: 18px;
        
    }
    
     &:hover::after{
         width: 50%;
         
     }
    
     
     }
.drawer-toggle{
    @include media(sm){
        padding: 22px 16px 0 0;
    }
    
    
}
@include media(sm){
    .drawer-hamburger-icon{
    height: 4px;
    border-radius: 2px;
    &::before{
        height: 4px;
        border-radius: 2px;
    }
    &::after{
        height: 4px;
        border-radius: 2px;
    }
}

    
}


     /*=================================
     # top
     =================================*/
    .top{
       @include media(md){
           
           margin: 0 auto;
           height: 648px;
           background: url(/img/mv.png) center center / cover;
       } 
       @include media(sm){
           max-width: 767px;
           
           padding: 0 16px;
           height: 667px;
           background: url(/img/mv@2x.png)  22% center / cover;
          
       }
      
       
        position: relative;
    }
    .top-inner{
        @include media(md){
            max-width: 600px;
            
            padding-top: 234px;
            padding-right: 40px;
            margin-left: auto;
            
        }
        @include media(sm){
           
        }
       
        
    }
   
    .top-title{
        font-size: 32px;
        font-weight: bold;
        letter-spacing: 0.002px;
        @include media(sm){
            font-size: 24px;
            padding-top: 225px;
                
         
        }
    }
    .top-text{
        font-size: 18px;
        font-family: "游ゴシック体" sans-serif;
        letter-spacing: 0.45px;
        margin-top: 28px;
        @include media(sm){
            font-size: 14px;
            margin-top: 24px;
        }
    }
    .top-submit{
        margin-top: 37px;
        @include media(sm){
            margin-top: 25px;
            width: 222px;
            margin-right: auto;
            margin-left: auto;
        }
    }
    /*=================================
    # news
    =================================*/
    .news{
        @include media(sm){
            padding: 0 16px;
            margin: 0;
            position: relative;
            top: -40px;
        }
        
    }
    .news-inner{
        @include media(md){
             padding: 60px 60px 40px;
             box-sizing: content-box;
        }
        @include media(sm){
            padding: 44px 16px;
        }
        background: #FFFFFF;
        max-width: 1080px;
         box-shadow: 0 5px 12px rgba(62, 62, 62, 0.2);
       
       
       
    }
    .news-list{
        border-bottom: 1px solid #CECDCD;
        @include media(md){
            padding: 32px 0;
        }   
        &:hover{
            background: #4973FF1A;
            transition: 0.7s;
        }
    }
    
    .first{
        border-top: 1px solid #CECDCD;
    }
    
    
    .news-item-link{
        display: block;
        color: #3E3E3E;
        font-size: 18px;
        letter-spacing: 0.45px;
        @include media(md){
            display: flex;
        }
        @include media(sm){
            font-size: 14px;
            position: relative;
            padding-top: 10px;
        }
       
        
       
       
       
    }
    .news-item-header{
       
            display: flex;
            flex: 0 0 258px;
       
      
      align-items: center;
      
    }
    .news-date{
     margin-right: 25px;
       
    }
    .news-title{
        font-size: 14px;
        border: 2px solid #3B69FF;
        border-radius: 50px;
        padding: 0 30px;
        text-align: center;
        @include media(sm){
            font-size: 12px;
            letter-spacing: 0.025em;
            
        }
        
    }
       
    .news-body{
        @include media(md){
            display: flex;
            flex: 0 1 100%;
            position: relative;
        }
        @include media(sm){
            width: 272px;
            
        }
        
        
        
    }
    .news-text{
        
        @include media(md){
            flex: 0 0 80%;
            font-size: 18px;
            letter-spacing: 0.025em;
            margin-left: 40px;
        }
        @include media(sm){
            font-size: 14px;
            margin: 7px 0 9px 0;
        }
        
        
        
    }
    .news-inline-box{
        @include media(sm){
             position: absolute;
             top: 27.66%;
             right: 0;
             width: 43px;
             height: 42px;
             padding-top: 9.3px;
             display: block;
             text-align: center;
             margin: 0;
             margin-left: auto;
        }
       
    }
   
    .news-text-inline{
        @include media(md){
            display: inline-block;
        height: 21.5px;
        width: 10.8px;
        margin: auto 0;
        position: absolute;
        top: 50%;
        transform: translate(0,-50%);
        right: 16px;
        }
        
        @include media(sm){
            
        }
        
    }
   .news-footer{
       text-align: center;
        margin-top: 38px;
   }
    .news-link{
        display: inline-block;
        color: $font-color;
        font-size: 20px;
        font-weight: bold;
        letter-spacing: 0.2em;
        border: 1px solid #707070;
        padding: 18px 81px;
        transition: all .7s;
        &:hover{
            background: #3E3E3E;
            border: 1px solid #FFFFFF;
            color: #FFFFFF;
        }
        @include media(sm){
            padding: 11px 97.2px;
            font-size: 18px;
        }
    }
    /*=================================
    # service
    =================================*/
    .service{
        background: #3E3E3E;
        position: relative;
        height: 400px;
        @include media(sm){
            margin-top: 20px;
            padding: 40px 16px;
            height: 480px;
        }
    } 
    .service-title-big{
        color: #fff;
        
        @include media(md){
            font-size: 36px;
            padding-top: 60px;
            margin-bottom: 60px;
        }
        @include media(sm){
            font-size: 30px;
        }
    }
    .service-inner{
        max-width: 960px;
        padding: 60px 45px ;
        background: #fff;
        margin: 0 auto;
        @include media(sm){
            padding: 41px 16px;
            text-align: center;
        }
    }
    .service-list{
        @include media(md){
            display: flex;
            text-align: center;
        }
       
        
        
        
    }
    .service-item{
        @include media(md){
            flex: 0 1 230px;
            & + &{
                margin-left: 90px;
            }
        }
        @include media(sm){
            & + &{
                margin-top: 33px;
            }
        }
       
       
    }
    .service-item-link{
        color: $font-color;
        letter-spacing: 0.02em;
       
    }
    .service-picture{
       height: 64px;
       padding: 16px 0;
       
       
        
        
    }
    .service-title{
        font-size: 20px;
        margin-bottom: 24px;
        @include media(sm){
            margin-top: 2px;
            margin-bottom: 14px;
        }
    }
    .service-text{
        font-size: 14px;
    }
   
    
    /*=================================
    # results
    =================================*/
    
    
    .results{
        @include media(md){
            padding-left: 60px;
        }
        background: #3E3E3E;
        box-sizing: content-box;
        
        position: relative;
        height: 754px;
        margin-top: 215px;
        max-width: 1260px;
        margin-left: auto;
        @include media(sm){
            margin-top: 391px;
            padding-left: 16px;
            height: 532px;
        }
        
        
    }
    
   
    
    .results-item-picture img{
        width: 400px;
        @include media(sm){
            height: 171px;
        }
    }
    .results-item-header{
        width: 400px;
    }
    .results-title-big{
        color: #fff;
        text-align: left;
        padding-top: 55px;
        @include media(sm){
            text-align: center;
            padding-top: 40px;
        }
    }
    
    .results-item-body{
        background: #fff;
        width: 400px;
        height: 116px;
        padding: 16px 16px;
        color: #3E3E3E;
        @include media(sm){
            height: 86px;
            padding: 12px 12px;
            width: 274px;
        }
    }
    .results-title{
        font-size: 20px;
        font-weight: bold;
        line-height: 1;
        margin-bottom: 16px;
        @include media(sm){
            font-size: 14px;
            text-align: left;
            margin-bottom: 10px;
        }
    }
    .results-text{
        font-size: 16px;
        @include media(sm){
            font-size: 12px;
        }
    }
    .results-footer{
       margin-top: 102px;
        @include media(sm){
            text-align: center;
            margin-top: 80px;
        }
    }
    .results-footer-link{
        display: inline-block;
        color: #fff;
        font-size: 20px;
        letter-spacing: 0.02em;
        border: 1px solid #fff;
        padding: 16px 93px;
        transition: all .7s;
        &:hover{
            background: #FFFFFF;
            border: 1px solid #707070;
            color: #3E3E3E;
        }
        @include media(sm){
            padding: 12.5px 111.5px;
            font-size: 18px;
            
        }
        
      
        
        
    }
    
    
    
    /*=================================
    # price
    =================================*/
    .price{
        @include media(sm){
            margin-top: 40px;
        }
    }
    .price-inner{
        max-width: 960px;
        margin: 0 auto;
        
        box-sizing: content-box;
        @include media(md){
            padding: 0 40px;
        }
        @include media(sm){
            padding: 0 16px;
        }
    }
    .price-list{
        border: 1px solid #3E3E3E;
        table-layout: fixed;
        border-collapse: collapse;
        th{
            width: 262px;
            font-size: 24px;
            background: #3E3E3E;
            color: #fff;
            height: 61px;
            vertical-align: middle;
            border-top: 1px solid #fff;
            
              
           
            
           
           
        }
        td{
            color: #3E3E3E;
            font-size: 24px;
            vertical-align: middle;
            width: 698px;
            border: 1px solid #3E3E3E;
            padding-left: 40px;
        }
    }
    th{
        .table-first{
            border-top: none;
        }
    }
    
    .price-text{
        font-size: 12px;
        color: #3E3E3E;
        line-height: 1;
        margin-top: 12px;
        @include media(sm){
            margin-top: 8px;
        }
    }
  /*=================================
  # comments
  =================================*/
  .comments{
   position: relative;
    margin: 0 auto;
    margin-top: 120px;
    @include media(sm){
        margin-top: 60px;
    }
    &::before{
        position: absolute;
      content: '';
      display: block;
      background-color: #3E3E3E;
      @include media(md){
        bottom: -120px;
        width: 76.563%;
        height: 576px;
      }
      @include media(sm){
          width: 100%;
          height: 425px;
          top: 60px;
      }
     
  }
  }
  .comments-inner{
      @include media(md){
        display: flex;
      }
      @include media(sm){
          padding: 0 16px;
      }
      position: relative;
      max-width: 1200px;
      margin: 0 auto;
      
      
      
  }
  .comments-title{
      @include media(sm){
          margin-bottom: 40px;
      }
      
  }
  .comments-message{
      position: relative;
      padding: 115px 60px 120px;
      background: #fff;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.16);
      flex: 0 0 55.5%;
      @include media(sm){
          padding: 40px 16px;
      }
     
      
  }
  .comments-message-picture img{
        @include media(sm){
            width: 60px;
            height: 60px;
        }
  }
  .comments-title{
      position: relative;
      text-align: left;
  }
  .comments-message-first{
      display: flex;
      margin-bottom: 60px;
      @include media(sm){
          font-size: 14px;
          margin-bottom: 50px;
      }
  }
  .comments-message-second{
     display: flex;
     @include media(sm){
         font-size: 14px;
     }
     
      
      
  }
  .comments-message-text{
    margin-left: 32px;
      @include media(sm){
        margin-left:20px;
      }
  }
  .comments-picture-picture{
    position: relative;
    top: 80px;
      img{
        width: 100%;
        @include media(sm){
            display: none;
        }
        

      }
      
      
     
  }
  /*=================================
  # question
  =================================*/
  .question{
      position: relative;
      
      margin-top: 120px;
      height: auto;
      background: url(/img/qa-bg.png) center center / cover; 
      padding-top: 55px;
      padding-bottom: 120px;
      background-attachment: fixed;
      @include media(sm){
          padding-top: 40px;
          margin-top: 40px;
          height: auto;
      }
  }
  .question-inner{
      max-width: 1200px;
      margin: 0 auto;
     
     height: auto;
      @include media(sm){
          padding: 0 16px;
      }
  }
  
  
  .question-accordion{
     background: #fff;
     @include media(md){
        width: 612px;
     }
     @include media(sm){
        padding: 16px 16px 16px;
     }
      
      margin: 0;
      margin-left: auto;
      padding: 18px 16px 16px;
      border-radius: 4px;
      
     
      & + &{
          margin-top: 32px;
          @include media(sm){
              margin-top: 24px;
          }
      }
    dt{
        text-align: right;
    }
  }
 .question-mark{
     display: block;
     color: #fff;
     font-size: 16px;
     width: 24px;
     height: 24px;
     text-align: center;
     background: #3B69FF;
     border-radius: 24px;
     font-weight: normal;
     margin-right: 16px;
 }
 
 .question-header{
     @include media(md){
        margin-bottom: 12px;
     }
     display: flex;
     align-items: center;
     font-weight: bold;
     position: relative;
     @include media(sm){
         
     }
    
     
     &-title{
         text-align: left;
         margin-right: auto;
         letter-spacing: 0.025em;
         position: relative;
        
     }
     
 }
 .question-inline{
     @include media(md){
        display: flex;
     }
     img{
         @include media(sm){
             margin-bottom: 4px;
         }
     }
 }
 .question-body{
     background: #3B69FF33;
     border-radius: 4px;
     display: none;
 }
 .question-body-text{
     padding: 12px 16px;
    
 }
 
 /*=================================
 # access
 =================================*/
 .access{
     margin-left: auto;
     margin-right: auto;
     position: relative;
     
     
     @include media(md){
        display: grid;
        grid-template-rows: 200px 320px;
        grid-template-columns: 474px 1fr;
        margin-top: 120px;
     }
     @include media(sm){
        background: #3E3E3E;
        padding: 40px 16px 60px;
     }
     
     
     box-sizing: content-box;
     &::before{
         content: '';
         display: block;
         position: absolute;
         background: #3E3E3E;
         @include media(md){
            top: -120px;
            left: 0;
            width: 76.563%;
            height: 504px;
            
         }
     }
     
     
    
     &-inner{
         @include media(md){
            flex: 0 0 414px;
            margin-left: 60px;
         }
         
         text-align: left;
         position: relative;
     }

     &-title{
         text-align: left;
         grid-row: 1 / 2;
         grid-column: 1 / 2;
         color: #fff;
         @include media(sm){
             font-size: 30px;
         }
     }
     &-message{
        grid-row: 1 / 2;
        grid-column: 1 / 2;
        color: #fff;
        @include media(sm){
            font-size: 14px;
            margin-bottom: 20px;
        }
     }

     &-map{
       position: relative;
       grid-row: 1 / 3;
       grid-column: 2 / 3;
       
       @include media(sm){
           height: 241px;
           margin-bottom: 24px;
       }
       iframe{
        width: 100%;
        height: 100%;
        
       }
     }

     &-footer{
         @include media(md){
            grid-row: 2 / 3;
            grid-column: 1 / 2;
            margin-left: 60px;
            text-align: left;
            margin-top: 4px;
         }
         position: relative;
        
         
         &-link{
            display: inline-block;
            font-size: 20px;
            color: #fff;
            letter-spacing: 0.1em;
            padding: 17px 81px;
            border: 1px solid #fff;
            transition: all .7s;
            &:hover{
                background: #FFFFFF;
                border: 1px solid #707070;
                color: #3E3E3E;
            }
            @include media(sm){
                font-size: 18px;
                padding: 12.5px 100px;
            }
           
         }
     }
 }

  
  /*=================================
  # contactUs
  =================================*/
    .contactUs{
        @include media(md){
            height: 1002px;
            padding: 60px 40px;
            margin-top: 120px;
            
        }
        @include media(sm){
            padding: 40px 16px;
        }
        position: relative;
        margin: 0 auto;
        background: url(/img/contact-bg@2x.png) center center / cover;
        box-sizing: content-box;
       
        &-inner{
            @include media(md){
                padding: 60px 120px 44px 70px;
            }
            max-width: 960px;
            margin-left: auto;
            margin-right: auto;
            background: #fff;
            border-radius: 0 0 12px 12px;
        }

        &-item{
            @include media(sm){
                padding: 28px 12px;
            }
            
        }

        &-header{
            text-align: center;
            padding: 54px 0;
            max-width: 960px;
            margin: 0 auto;
            color: #fff;
            background: url(/img/contact1.png) center center / cover;
            border-radius: 12px 12px 0 0;
            @include media(sm){
                padding: 34px 16px;

            }
            &-title{
                margin-bottom: 11px;
                color: #fff;
                @include media(sm){
                    margin-bottom: 8px;
                }
            }
            &-text{
                @include media(sm){
                    font-size: 14px;
                   
                    text-align: left;
                }
                
            }
        }
        input[type="text"],
        input[type="email"]{
           
            @include media(md){
                padding: .2em .5em;
            }
        height: 32px;
        
        width: 100%;
        border: 0;
        border-bottom: 1px solid rgba(62, 62, 62, 0.5);
        font-size: 16px;
    }
    }
    .contactUs-input{
        width: 100%;
        text-decoration: none;

       
        
        
    }
     
    .contactUs-list{
       
        @include media(md){
            display: flex;
        }
        
        max-width: 770px;
        & + &{
            margin-top: 32px;
            @include media(sm){
                margin-top: 25px;
            }
        }
        &-title{
            font-size: 16px;
            font-weight: bold;
            line-height: 32px;
            flex: 0 1 188px;
        }
        dt{
            @include media(md){
                flex: 0 0 188px;
            }
           
            
        }
       
        textarea{
        width: 100%;
        min-height: 200px;
        resize: vertical;
        padding: .2em .5em;
        font-size: 16px;
    }
    }

    

    .contactUs-list-title{
        @include media(sm){
           line-height: 1;
           margin-bottom: 8px;
        }
    }
    
    .gender{
        height: 16px;
        line-height: 16px;
        dt{
            line-height: 16px;
            
        }
        
    }
   
    .contactUs-radio{
        
        & + &{
            margin-left: 38px;
        }
    }
    .contactUs-radio-input{
        position: relative;
        margin: 0;
        width: 12px;
        height: 12px;
        
        
        
        
        
       

    }

    
    
    .contactUs-select{
        line-height: 40px;
        
    }
   
    .contactUs-select-item{
        height: 40px;
        line-height: 40px;
        width: 178px;
        position: relative;
        color: #3E3E3E;
        transition: all .4s;
        
        &:hover{
            box-shadow: 0 0 5px rgba(73, 115, 255, 0.5);
        }
        @include media(sm){
            width: 100%;
        }
        
    }
    .contactUs-footer{
        margin-top: 40px;
        @include media(sm){
            margin-top: 30px;
        }
        
    }
    .contactUs-footer-text{
        height: 20px;
        line-height: 20px;
        
            display: flex;
        
        
    }
   
   
    
    
    .contactUs-privacy-link{
        
        display: block;
        font-size: 18px;
        font-weight: bold;
        color: #3E3E3E;
        
    }
    .contactUs-submit{
        @include media(sm){
            text-align: center;
        }
    }
    .contactUs-btn{
        background: #B2B2B2;
        padding: 11.5px 50.5px;
        margin-top: 40px;
        font-size: 18px;
        font-weight: bold;
        color: #fff;
        border-radius: 10px;
        box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
        &.-active{
            background: #FFAA3B;
            color: #fff;
        }
        @include media(sm){
            margin-top: 34px;
            
        }
    }
    .contactUs-name{
        display: inline-block;
        font-size: 12px;
        font-weight: bold;
        background: #FF4646;
        color: #fff;
        width: 40px;
        height: 16px;
        line-height: 16px;
        text-align: center;
        margin-left: 8px;
       
    }
    .message{
        display: block;
        
    }
    select{
        padding-left: 14px;
        appearance: none;
        font-size: 16px;
    }
    .man{
        @include media(sm){
            margin-bottom: 16px;
            margin-top: 30px;
        }
    }

    .mes{
        @include media(sm){
            margin-top: 55px;
            margin-bottom: 8px;
        }
    }
    
    .contactUs-privacy {
        display: block;
        position: relative;
        margin: 1em 0;
        cursor: pointer;
        user-select: none; /* テキストの選択を防ぐ */
      }
      .contactUs-privacy input {
        display: none;
      }
      .contactUs-privacy-part {
        display: inline-block;
        position: relative;
        top: -15px;
        height: 20px; /* 大きさ */
        width: 20px; /* 大きさ */
        border: solid 1px #707070; /* 線 */
        
        box-sizing: border-box;
        margin-right: 20px;
      }
      .contactUs-privacy-part:after {
        content: "";
        position: absolute;
        left: 5px; /* チェックの位置 */
        top: -1px; /* チェックの位置 */
        width: 7px; /* チェックの大きさ */
        height: 14px; /* チェックの大きさ */
        border: solid 2px #3B69FF;
        border-width: 0 2px 2px 0;
        transform: rotate(45deg);
        opacity: 0;
      }
      /* チェックが入ったときの□ */
      .contactUs-privacy input:checked + .contactUs-privacy-part {
        background: #fff; /* チェック時の色 */
        
      }
      /* チェックが入ったときの✓ */
      .contactUs-privacy input:checked + .contactUs-privacy-part:after {
    opacity: 1; /* 透明を解除 */
    transition: 0.6s;
  }
//   ホバーした時
  .contactUs-privacy input:hover + .contactUs-privacy-part {
    box-shadow: 0 0 3px rgba(59, 105, 255, 1);
    transition: 0.4s;
  }
   

   /*=================================
   # footer
   =================================*/
   .footer{
       @include media(md){
        height: 292px;
       }
       @include media(sm){
           
           text-align: center;
       }
       background: #3E3E3E;
       opacity: 1;
       color: #fff;
       position: relative;
   }
   .footer-inner{
    max-width: 960px;
    
    box-sizing: content-box;
    @include media(md){
        display: flex;
        padding: 60px 120px;
    }
    @include media(sm){
        padding: 60px 0 57px;
    }
    
    margin: 0 auto;
   }
   .footer-left{
       margin-right: auto;
   }
   
   .footer-list-item{
       display: inline-block;
       line-height: 1;
       margin-bottom: 39px;
       
       @include media(sm){
          margin-bottom: 42px;
       }
       a{
        color: #fff;
        font-size: 36px;
        
       }
   }
   .fa-twitter{
       margin-right: 32px;
       @include media(sm){
           margin-right: 50px;
       }
   }
   
   .footer-left-message{
       font-size: 16px;
       line-height: 1;
       @include media(sm){
           font-size: 14px;
       }
       
   }
   .footer-left-link{
       color: #fff;
   }
   .footer-left-text{
    & + &{
        margin-top: 24px;
        @include media(sm){
            margin-top: 26px;
        }
    }
   }
   .footer-right-title{
       @include media(md){
        margin-bottom: 4px;
       }
       font-size: 40px;
       font-weight: bold;
       
       @include media(sm){
           font-size: 32px;
           height: 39px;
           line-height: 39px;
           margin: 40px 0 12px;
       }
   }
   .footer-right-text{
       font-size: 12px;
       letter-spacing: 0.025em;
       text-align: right;
       opacity: 0.6;
       @include media(sm){
           height: 15px;
           line-height: 15px;
           text-align: center;
       }

   }
   .footer-toTop-picture{
       position: absolute;
       position: fixed;
       z-index: 8;
       bottom: 50px;
       right: 50px;
       @include media(sm){
           bottom: 13px;
           right: 16px;
       }
   }
    
  
